@import "react-alice-carousel/lib/alice-carousel.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

ion-icon {
	font-size: 24px;
}

.cardItem {
	width: 60px;
	height: 80px;
	display: grid;
	text-align: center;
	justify-items: center;
}
